./app/static/config
./app/static/controllers
./app/static/dto
./app/static/entityes
./app/static/interfaces
./app/static/middlewares
./app/static/models
./app/static/modules
./app/static/repositories
./app/static/routes
./app/static/services
./app/static/app.js
./app/static/main.js
./app/static/server.js

./static

./postgres

./app/node_modules