./static/config
./static/controllers
./static/dto
./static/entityes
./static/interfaces
./static/middlewares
./static/models
./static/modules
./static/repositories
./static/routes
./static/services
./static/app.js
./static/main.js
./static/server.js

./postgress

./app/node_modules